* { /* Gælder alt på hele siden */
    box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}
/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
    margin: 0; /* Ingen kanter i siden af browser */
    background-color: 	#fbf7f5;
    display: grid;
    grid-template:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'main main main main main main'
    'footer footer footer  footer footer footer';
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Ingen ydre margen fra overskrifter */
    padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
    margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
    padding: 0; /* Ingen indre margen fra lister */
    list-style-position: inside; /* List punkter står på linje */
}

li {
    margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
    margin: 0; /* Ingen ydre margen fra paragraffer */
    padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
    display: block; /* Billeder er et element (laver linjeskift) */
    max-width: 100%; /* Bredde må maks fylde 100% */
    height: auto; /* Højden skal tilpasse sig */
}

header{
    grid-area: header;
    height: 80px;
    border-bottom: 1px solid;
}

.menu{
    grid-area: menu;
    border-bottom: 1px solid;
    background-color: #6633cc;
}

.navbar {
    overflow: hidden;
    padding-left: 50px;
    height: 55px;
}

.navbar a {
    float: left;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .produkter-btn {
    font-size: 24px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .produkter-btn {
    background-color: #47248f;
}

.produkter-indhold {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.produkter-indhold a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.produkter-indhold a:hover {
    background-color: #ddd;
}

.dropdown:hover .produkter-indhold {
    display: block;
}

.main{
    grid-area: main;
    display: flex;

}



footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #262626;
    border-top: 1px solid;

}

footer .fas, .fab{
    color: white;
    font-size: 3rem;
    padding: 5px;
}

@media only screen and (min-width: 600px) {

    body{
        grid-template:
        'header header header header header header header header'
        'menu menu menu menu menu menu menu menu'
        'main main main main main main main main'
        'footer footer footer footer footer  footer footer footer';

    }

    .menu{


    }

    .fri-fragt{
        height: 400px;
        width: 300px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: space-evenly;
    }

    .fri-fragt .fa-truck{
        font-size: 6rem;


    }
}